body{
margin:0;
font-family:Arial;
color:white;
}

/* pantalla */

.pagina{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

/* imagen fondo */

.imagen-fondo{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

/* caja texto */

.contenido{
background:rgba(0,0,0,0.65);
padding:40px;
border-radius:10px;
text-align:center;
width:60%;
}

/* titulo */

h1{
font-size:45px;
}

/* botones */

button{
margin-top:15px;
padding:12px 25px;
font-size:17px;
border:none;
border-radius:8px;
background:#f5c518;
cursor:pointer;
}

/* dato oculto */

.dato{
display:none;
margin-top:15px;
font-size:18px;
}

/* imágenes extra */

.imagenes{
display:none;
margin-top:20px;
}

.imagenes img{
width:200px;
margin:10px;
border-radius:8px;
}

/* hover info */

.hover-box{
margin-top:25px;
padding:15px;
background:#222;
border-radius:8px;
cursor:pointer;
}

.hover-text{
display:none;
margin-top:10px;
}

.hover-box:hover .hover-text{
display:block;
}