body{
margin:0;
font-family:Arial;
color:white;
}

/* pantalla */

.pagina{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

/* fondo */

.imagen-fondo{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

/* caja principal */

.contenido{
background:rgba(0,0,0,0.65);
padding:40px;
border-radius:10px;
text-align:center;
width:60%;
}

/* titulo */

h1{
font-size:45px;
}

/* boton */

button{
margin-top:20px;
padding:12px 25px;
font-size:18px;
border:none;
border-radius:8px;
background:#f5c518;
cursor:pointer;
}

/* dato escondido */

.dato{
display:none;
margin-top:15px;
font-size:18px;
}

/* caja hover */

.hover-box{
margin-top:30px;
padding:15px;
background:#222;
border-radius:8px;
cursor:pointer;
}

.hover-text{
display:none;
margin-top:10px;
font-size:17px;
}

/* aparece con mouse */

.hover-box:hover .hover-text{
display:block;
}