body{
background:black;
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-family:Arial;
}

h1{
position:absolute;
text-align:center;
}

.imagen{
position:absolute;
top:50%;
transform:translateY(-50%);
width:350px;
height:350px;
overflow:hidden;
}

.imagen img{
width:100%;
height:100%;
object-fit:cover;
}

.izquierda{
left:120px;
border:6px solid blue;
}

.derecha{
right:120px;
border:6px solid red;
}